.landed .cls-1 {
    fill: #70c9c4;
    fill-rule: evenodd;
}

.landed .cls-8 {
    fill: #fff;
    font-family: 'Montserrat-Regular', Montserrat;
}

.landed .cls-3 {
    letter-spacing: 0
}

.landed .cls-8 {
    font-size: 10.91px
}

.landed .cls-10,
.landed .cls-12,
.landed .cls-13,
.landed .cls-15,
.landed .cls-9 {
    letter-spacing: 0;
}

.landed .cls-16,
.landed .cls-17 {
    letter-spacing: -.01em;
}

.landed .cls-18,
.landed .cls-19,
.landed .cls-22,
.landed .cls-24 {
    letter-spacing: 0;
}

.landed .cls-26,
.landed .cls-30 {
    letter-spacing: .01em;
}

.landed .cls-34,
.landed .cls-35 {
    letter-spacing: 0;
}

.landed .hitArea {
    cursor: pointer;
}