html, body {
    background-color: #221f20;
}

/* overscroll fix */
html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
}

button, html, body, h1, h2, h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}
/* slick overides */

.slick-next, .slick-prev {
    display: block;
    width: 72px;
    height: 144px;
    margin-top: 72px;
    z-index: 999;
    background-repeat: no-repeat;
    top: 523px!important;
}

.slick-prev:before,
.slick-next:before {
    content: '';
}

.slick-next {
    right: 0;
    background-image: url(next-btn.svg)!important;
}

.slick-prev {
    left: 0;
    background-image: url(prev-btn.svg)!important;
}

