.takeoff .cls-1,
.takeoff .cls-2,
.takeoff .cls-4,
.takeoff .cls-7 {
	fill: #fff;
}

.takeoff .cls-11,
.takeoff .cls-2,
.takeoff .cls-6 {
	fill-rule: evenodd;
}

.takeoff .cls-3 {
	fill: none;
	stroke: #fff;
	stroke-miterlimit: 10;
	stroke-width: 0.91px;
}

.takeoff .cls-4 {
	font-size: 20.64px;
}

.takeoff .cls-12,
.takeoff .cls-4,
.takeoff .cls-7 {
	font-family: 'Montserrat-Regular', Montserrat;
}

.takeoff .cls-5 {
	letter-spacing: 0em;
}

.takeoff .cls-6 {
	fill: #70c9c4;
}

.takeoff .cls-12,
.takeoff .cls-7 {
	font-size: 10.91px;
}

.takeoff .cls-8 {
	letter-spacing: 0.01em;
}

.takeoff .cls-9 {
	letter-spacing: 0em;
}

.takeoff .cls-10 {
	letter-spacing: 0em;
}

.takeoff .cls-11 {
	fill: #ebe6eb;
}

.takeoff .cls-12 {
	fill: #45174d;
}

.takeoff .cls-13 {
	letter-spacing: 0.01em;
}

.takeoff .cls-14 {
	letter-spacing: 0em;
}

.takeoff .cls-15 {
	letter-spacing: -0.02em;
}

.takeoff .cls-16 {
	letter-spacing: 0em;
}

.takeoff .cls-17 {
	letter-spacing: 0em;
}

.takeoff .cls-18 {
	letter-spacing: 0em;
}

.takeoff .cls-19 {
	letter-spacing: 0em;
}

.takeoff .cls-20 {
	letter-spacing: 0em;
}

.takeoff .cls-21 {
	letter-spacing: 0em;
}

.takeoff .cls-22 {
	letter-spacing: 0em;
}

.takeoff .cls-23 {
	letter-spacing: -0.03em;
}

.takeoff .cls-24 {
	letter-spacing: 0em;
}

.takeoff .cls-25 {
	letter-spacing: 0em;
}

.takeoff .cls-26 {
	letter-spacing: 0em;
}

.takeoff .cls-27 {
	letter-spacing: 0em;
}

.takeoff .cls-28 {
	letter-spacing: 0em;
}

.takeoff .cls-29 {
	letter-spacing: -0.01em;
}

.takeoff .cls-30 {
	letter-spacing: -0.02em;
}

.takeoff .cls-31 {
	letter-spacing: -0.01em;
}

.takeoff .cls-32 {
	letter-spacing: -0.01em;
}

.takeoff .cls-33 {
	letter-spacing: -0.03em;
}

.takeoff .cls-34 {
	letter-spacing: 0em;
}
