
@import "./theme/assets/vendor/slick-master/slick-theme.min.css";
@import "./theme/assets/vendor/slick-master/slick.min.css";


/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('./theme/assets/fonts/montserrat-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('./theme/assets/fonts/montserrat-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./theme/assets/fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./theme/assets/fonts/montserrat-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./theme/assets/fonts/montserrat-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./theme/assets/fonts/montserrat-v14-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-600 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('./theme/assets/fonts/montserrat-v14-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
       url('./theme/assets/fonts/montserrat-v14-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./theme/assets/fonts/montserrat-v14-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('./theme/assets/fonts/montserrat-v14-latin-600.woff') format('woff'), /* Modern Browsers */
       url('./theme/assets/fonts/montserrat-v14-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./theme/assets/fonts/montserrat-v14-latin-600.svg#Montserrat') format('svg'); /* Legacy iOS */
}

html {
  overflow: hidden;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  overflow: auto;
}

html, body {
  background-color: #221f20;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button, html, body, h1, h2, h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
/* slick overides */

.slick-next, .slick-prev {
  display: block;
  width: 72px;
  height: 144px;
  margin-top: 72px;
  z-index: 999;
  background-repeat: no-repeat;
  top: 523px!important;
}

.slick-prev:before,
.slick-next:before {
  content: '';
}

.slick-next {
  right: 0;
  background-image: url(./theme/next-btn.svg)!important;
}

.slick-prev {
  left: 0;
  background-image: url(./theme/prev-btn.svg)!important;
}

